<%= @user.errors.full_messages.join(', ') %>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <% if current_user %>
  <li><%= link_to 'Change Password', edit_resetpass_path %></li>
  <!-- :action => "patch" %></li> -->
  <% else %>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
