
  <!-- <%= stylesheet_link_tag "show.scss" %> -->

  <div class="container-fluid">
  <row>
    <h1><%= @post.title %></h1>
     <%=image_tag("wild.jpg") %>
     <p><%= @post.body %></p>
      <h6>Date</h6>
       <div class="heartdiv"><a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart"></a><h4>456</h4></div>
         <a href="#" class="btn btn-default bookmark" role="button"><span class="glyphicon glyphicon-bookmark"></a>
       <h6>Category: <%= @post.category_name %></h6>
       (<%= pluralize @post.likers.count, 'like' %>)
       <% if can?(:manage, @post) %>
       <%= link_to 'Edit', edit_post_path(@post) %>
       <%= link_to 'Delete', post_path(@post),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %>
       <% end %>
       <% if user_signed_in? && can?(:like, @post) %>
        <% if @post.liked_by?(current_user) %>
          <%= link_to "Un-Like", like_path(@post.like_for(current_user)), method: :delete %>
        <% else %>
          <%= link_to "Like", post_likes_path(@post), method: :post %>
        <% end %>
      <% end %>
    </row>
     <row>
       <div class="col-xs-3">
         <%=image_tag("shiba.jpg") %>
      </div>
      <div class="col-xs-9 user">
        <% if @post.user_id %>
          <h2><%= User.find(@post.user_id).full_name %></h2>
        <% else %>
          <h2>Guest User</h2>
        <% end %>
        <p><%= Faker::Lorem.paragraph %></p>
     </div>
   </row>

   <hr>
      <row>
        <%= @comment.errors.full_messages.join(', ') %>
        <div class="col-xs-12">
        <h3>Leave a comment...</h3>

        <%= form_for [@post, @comment] do |c| %>
        <div>
          <%= c.text_area :body %>
        </div>
        <div>
          <h3>Full Name</h3>
          <%= c.text_area :name %>
        </div>
        <%= c.submit %>
        <% end %>
      </div>
    </row>
      <hr>
      <% @post.comments.order(created_at: :desc).each do |comment| %>
      <row>
        <div class="comment col-xs-12">
            <%=image_tag("shiba.jpg") %>
          <div>
           <h6><%= comment.name %></h6>
           <p><%= comment.body %></p>
         </div>
         <%= link_to 'delete', comment_path(comment),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?'} %>
        </div>
      </row>
      <% end %>

      <% 3.times do %>
      <row>
      <div class="comment col-xs-12">
          <%=image_tag("shiba.jpg") %>
        <div>
         <h6>Username</h6>
         <p><%= Faker::Lorem.paragraph %></p>
       </div>
      </div>
    </row>
      <% end %>
  </div>
